<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="cesium/Widgets/widgets.css">
    <script src="cesium/Cesium.js"></script>

    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="./logo.svg" />
    <meta name="viewport" content="no-cache, width=device-width, initial-scale=1.0" />
        <!--jquery-->
        <script
        crossorigin="anonymous"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        src="https://lib.baomitu.com/jquery/3.6.0/jquery.min.js"
      ></script>
      <!--cesium相关-->
      <!-- <script src="/public/Cesium/Build/Cesium/Cesium.js"></script> -->
      <!-- <script src="<%= BASE_URL %>Cesium-1.82-hawk/Cesium.js"></script> -->
      <!-- <script src="<%= BASE_URL %>Cesium-src/1.82/Cesium.js"></script> -->

      <link
        rel="stylesheet"
        href="https://mapv-data.oss-cn-hangzhou.aliyuncs.com/Cesium-1.82-hawk/Widgets/widgets.css"
      />

    <title>JHAYESGL</title>
    <script type="module" crossorigin src="./assets/index-4ea71246.js"></script>
    <link rel="stylesheet" href="./assets/index-4b305f55.css">
  </head>
  <body>
    <div id="app"></div>
    

  </body>
</html>
